<!--The Search form below is EMPTY at the moment -->
<%= form_tag users_path, :method => "get" do %>
<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">

      <h1 class="display-3">Welcome to MemHelp!</h1>
      <hr class="my-4"> 
      <p class="lead">On our site, you can.</p>
      
      
      <li>Learn new skills!</li>
      <li> Earn volunteer hours!</li>
      <li> Connect to other Memphis students!</li>
      <li> Get answers in as little as 30 minutes!</li>
       <li> The largest (and best) collection of online learning resources!</li>
      <hr class="my-4"> 
      <p>What do you want to learn? See if there are any tutors available by Searching categories or send Global request!</p>
   <hr class="my-4"> 
    <%= link_to "About Us", about_path, class: "btn btn-outline-info" %>      
    </div>
  </div>
</div>

 
<footer id="sticky-footer" class="navbar-expand-lg-50">
  <div class="container text-center">
    <large>Copyright &copy;2020 MemHelp, Inc.</large>
  </div>
</footer>

<% end %>
