<div id="page-contet">
<h1 class="text-center mt-4">Edit Messages</h1>



<%= form_with model: message, url: message_path, class: "shadow p-5 mb-10 bg-info", method: :patch, local: true, scope: :message do |f| %>
<% if current_user.try(:id)==message.user_id %>
  <div class="form-group row">
    <label for="exampleFormControlInput1">Title</label>
    <%= f.text_field :title, placeholder:'Hello',class: "form-control shadow" %>
   
  </div>
  <div class="form-group row">
  <label for="exampleFormControlInput1">Message</label>
    <%= f.text_area :body, placeholder: '',rows:10, class: "form-control shadow"  %>
    
  </div>
<br>
<br>
  <div class="form-group row">     
  <%= f.submit "Update", :class => "btn btn-outline-warning" %>
</div>

  <% end %>
<% end %>