<div id="page-contet">
<h1 class="text-center mt-4">Edit Messages</h1>



<%= form_with model: message, url: message_path, class: "shadow p-5 mb-10 bg-white", method: :patch, local: true, scope: :message do |f| %>
<% if current_user.try(:id)==message.user_id %>
  <div >
   <strong><label>Title</label></strong>
    <%= f.text_field :title, placeholder:'Hello',class: "form-control shadow" %>
   
  </div>
 <div>
  <strong><label>Message</label></strong>
    <%= f.rich_text_area :body, placeholder:'Say something...' %>
    
 </div>
<br>
<br>
  <div >     
  <%= f.submit "Update", :class => "btn btn-outline-warning" %>
</div>

  <% end %>
<% end %>