<div class="container card p-3 mb-2 bg-light text-dark">
 <div class = "text-center">
  <div class="header">
    <h2>Message: <%= message.sender%> to <%= message.recipient_name %></h2>
  </div>
  </div>