<h1>Students!</h1>

<%= form_tag users_path, :method => :get do %>
<p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :email => nil %>
</p>
<% end %>

<% users.each do |user|  %>
    <p><%= user.email%></p>
<% end %>