<style>
th, td {
  padding: 10px;
}
.hero-image4 {
  background-image: url("https://t4.ftcdn.net/jpg/02/33/43/27/240_F_233432777_dUvLZxOOxSgjJlLu8Zbx2rZgNw0EGZBk.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text4 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>

<div class="hero-image4">
  <div class="hero-text4">
    <h1 style="font-size:50px">My Reviews</h1>
  </div>
</div>

<% @reviews.each do |review| %>
<% if current_user.try(:id)==review.user_id %>
      <div id="<%= dom_id(review) %>">
<div class="card text-center">
  <div class="card-header">
    <td class="card-text"><%= truncate(review.user.username, lenght: 100) %></td>
  </div>

  <div class="card-body">    
    <tbody>
       <tr>
         <% if review.rating  == 1 %>
         <td>⭐</td>
         <%end%>
         <% if review.rating  == 2 %>
         <td>⭐⭐</td>
          <%end%>
         <% if review.rating  == 3 %>
         <td>⭐⭐⭐</td>
          <%end%>
         <% if review.rating  == 4 %>
         <td>⭐⭐⭐⭐</td>
          <%end%>
         <% if review.rating  == 5 %>
         <td>⭐⭐⭐⭐⭐</td>
          <%end%>
      
    <h5 class="card-text"></h5>
    <td class="card-text"><%= truncate (review.comment) %></td>
   
    <td></td>
  </div>
  <div class="card-footer text-muted">
   <%= link_to 'Delete', review, :class => "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>

     <% end %>
  </tbody>
</table>

<br>
<%end%>


<!--
  </div>
  </div>
  </div>
 
        <td><%#= link_to 'Show', review %></td>
        <td><%#= link_to 'Edit', edit_review_path(review) %></td>
        <td><%#= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>

-->